<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/about.css" rel="stylesheet"> 
    <link rel="icon"  href="images/favicon.png" type="image/png" />
    <title>Cillian Murphy</title>
</head>
<body>
 <div class="about">
     <article class="about-text">
         <p>Cillian Murphy (/ˈkɪliən/; born 25 May 1976) is an Irish actor. He started his performing career as the lead singer, guitarist, and songwriter of the rock band The Sons of Mr. Green Genes. Murphy turned down a record deal in the late 1990s and began acting on stage and in short and independent films. His first notable film roles include Darren in the drama Disco Pigs (2001), Jim in the zombie horror 28 Days Later (2002), John in the dark comedy Intermission (2003), Jackson Rippner in the action thriller Red Eye (2005), and Patrick "Kitten" Braden in the comedy-drama Breakfast on Pluto (2005). For his performance as a trans woman in the latter, he was nominated for a Golden Globe Award for Best Actor in a Musical or Comedy and won an Irish Film and Television Award for Best Actor.</p>
         <br>
         <p>Murphy is known for his collaborations with director Christopher Nolan, playing the Scarecrow in The Dark Knight Trilogy of superhero films (2005–2012) and appearing in the sci-fi action thriller Inception (2010), the war drama Dunkirk (2017) and in the upcoming biopic Oppenheimer. Other films in which he has appeared include the war drama The Wind That Shakes the Barley (2006), the sci-fi thriller Sunshine (2007), the sci-fi action thriller In Time (2011), Jozef Gabčík in the war drama Anthropoid (2016), and Emmett in the horror A Quiet Place Part II (2021). Since 2013, he has starred as Tommy Shelby in the BBC crime drama series Peaky Blinders, for which he won the Irish Film and Television Award for Best Actor in 2017 and 2018.</p>
         <br>
         <p>In 2011, Murphy won the Irish Times Theatre Award for Best Actor and Drama Desk Award for Outstanding Solo Performance for the one-man play Misterman. In 2020, he was ranked No. 12 on The Irish Times' list of greatest Irish film actors.[1] He is married to Irish visual artist Yvonne McGuinness, with whom he has two sons, and resides in Dublin.</p>
         <br>
         <img src="/images/aboutphoto.jpeg"/>
    </article>
 </div>




</body>
</html>