<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/home.css" rel="stylesheet"> 
    <link rel="icon"  href="images/favicon.png" type="image/png" />
    <title>Cillian Murphy</title>
</head>
<body>

    <body>

         <!--header-->
         <header>
            <h1>CILLIAN MURPHY</h1>
          </header>

        <!-- nav --->
    
            <ul>
                <li><a href="about">ABOUT</a></li>
                <li><a href="works">WORKS</a></li>
                <li><a href="gallery">GALLERY</a></li>
    
            </ul>
        </nav>
        
    
</body>
</html>