@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Open+Sans:wght@300&family=Quantico&family=Taviraj:wght@100&display=swap');


body{
    background: rgb(22, 22, 32);
    margin: 0;
    font-family: 'Taviraj', serif;;
}

p{
    color:hsla(60, 49%, 49%, 0.805);
    font-weight: bolder;
    margin-left: 30px;
    margin-right: 30px;
}


img{
    margin-left: 70px;
    margin-right: 30px;
    }